.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(168, 168, 168, 0.678);
    padding: 3%;
    position: fixed;
    top:10%;
    left: 5%;
    bottom: 10%;
}
.btn{
    width: 120px;
    background-color:rgba(255, 68, 0);
    color: white;
    border: 0px;
    padding: 5px;
    font-size: 15px;
    transition: 1s;
}
.btn:hover{
    background-color:rgb(0, 0, 46);
}