.container{
    position: relative;
    width:75%;
    height: 100%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.image{
    width:100%;

}
.button{
    position: absolute;
    top: 60%;
}