.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1000px;
    position: relative;
    left: 27%;
    top:20px;
}
.title{
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
    color: rgb(0, 0, 46);
    text-shadow: 2px 1px rgb(255, 68, 0);
}